.stopwatch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  #min {
    font-size: 56px;
  }
  #sec {
    font-size: 48px;
  }
  span {
    font-size: 42px;
  }
  #start {
    height: 60px;
      width: 60px;
      border-radius: 50%;
  }
  #reset {
    border-radius: 10%;
  }
  button {
    margin: 5px;
    border: 1px solid grey;
    font-weight: bold;
  }